<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>Game of Nim &bull; Will Bennion (22925040)</title>
		<link href="bootstrap.min.css" rel="stylesheet" />
		<link href="app.css" rel="stylesheet" />
	</head>
	<body>
		<div id="app">
			<nav class="navbar navbar-dark bg-dark justify-content-between">
				<div class="navbar-brand">Game of Nim</div>
				<div>Will Bennion (22925040)</div>
			</nav>

			<div class="main-container">
				<router-view></router-view>
			</div>

			<bs-modal id="app-loading-modal" title="Loading" v-bind:close-button="false" data-backdrop="static" data-keyboard="false">
				<p>One sec, we're working on it...</p>
			</bs-modal>

			<bs-modal id="network-error-modal" title="Network Error" v-bind:buttons="[{label:'Reload', class:'btn-primary', callback: reload}]">
				<p>You have been disconnected from the server.</p>
			</bs-modal>
		</div>

		<!-- Welcome view -->
		<script type="text/x-template" id="view-welcome">
			<div class="jumbotron">
				<h1 class="display-3">Welcome!</h1>
				<p class="lead">The game of Nim is a game where players must remove one or more objects from a pile. The losing player is the player to take the last item. In this variant you must take atleast one object, but may take up to half of the total objects remaining.</p>
				<hr class="my-4">
				<form v-on:submit.prevent="enterName">
					<div class="form-group">
						<label for="player-name">Enter your name below to get started!</label>
						<input type="text" class="form-control" id="player-name" v-model="$store.state.username">
					</div>
					<p class="lead">
						<button class="btn btn-primary" type="submit">Play!</button>
					</p>
				</form>
			</div>
		</script>

		<!-- Lobby view -->
		<script type="text/x-template" id="view-lobby">
			<div class="row h-100">
				<chat-panel></chat-panel>
				<div class="col">
					<div class="d-flex flex-column h-100">
						<h4 class="m-2">Games</h4>
						<ul class="list-group p-2 fg-1 game-lobby-list">
							<li v-for="n in 3" class="list-group-item p-2 d-flex justify-content-between align-items-center">
								Person{{(n * 2) - 1}} vs Person{{n * 2}}
								<a href="#" class="btn btn-warning btn-sm">Join</a>
							</li>
						</ul>

						<div class="p-2">
							<a href="#" class="btn btn-primary btn-block">Create Game</a>
						</div>
					</div>
				</div>
			</div>
		</script>

		<!-- Game view -->
		<script type="text/x-template" id="view-game">
			<div class="row h-100">
				<chat-panel></chat-panel>
				<div class="col">
					<h4 class="m-2">Game</h4>
				</div>
			</div>
		</script>

		<!-- Custom templates -->
		<script type="text/x-template" id="template-chat-panel">
			<div class="col-6">
				<div class="d-flex flex-column h-100">
					<h4 class="m-2">Chat</h4>
					<div class="card m-2 p-2 fg-1">
						<div class="card-body chat-history p-0">
							<div v-for="msg in $store.state.messages" class="chat-message">
								<span class="text-muted">[{{msg.time}}]</span>
								<span class="text-danger font-weight-bold">{{msg.from}}:</span>
								<span class="text-dark">{{msg.message}}</span>
							</div>
						</div>
					</div>
					<form class="p-2">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Message...">
							<span class="input-group-btn"><button class="btn btn-primary" type="submit">Send</button></span>
						</div>
					</form>
				</div>
			</div>
		</script>

		<script type="text/x-template" id="template-bs-modal">
			<div class="modal" tabindex="-1">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">{{title}}</h5>
							<button v-if="closeButton!==false" type="button" class="close" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">
							<slot></slot>
						</div>
						<div class="modal-footer" v-if="buttons">
							<button v-for="btn in buttons" v-bind:class="['btn', btn.class || 'btn-default']" v-bind:data-dismiss="btn.close ? 'modal' : ''" v-on:click="btn.callback ? btn.callback() : null">{{btn.label}}</button>
						</div>
					</div>
				</div>
			</div>
		</script>

		<!-- Import required JavaScript -->
		<script src="vue.js"></script>
		<script src="vuex.min.js"></script>
		<script src="vue-router.js"></script>
		<script src="bootstrap.min.js"></script>
		<script src="app.js"></script>
	</body>
</html>