html, body, #app {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.main-container {
	height: calc(100% - 85px);
}

.fg-1 {
	flex-grow: 1;
}

.game-lobby-list, .chat-history {
	overflow-y: scroll;
	flex-basis: 0;
}

.create-game-popover {
	position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
	box-shadow: 0 2px 3px rgba(0, 0, 0, 0.35);
	
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}

.create-game-popover.out {
	opacity: 0;
	z-index: 1;
	transform: translateY(100%);
}

.lobby-waiting-paragraph {
	position: relative;
    top: 7px;
}

/* Mobile optimisations */
@media (max-width: 575px) {
	.w-sm-200 {
		width: 200% !important;
	}

	.mobile-switch-panel {
		position: relative;
		left: 15px;
		transition: left 300ms ease-in-out;
	}

	.mobile-switch-panel.switch {
		left: calc(-100% + 15px);
	}

	.btn-group-sm-mobile > .btn {
		padding: 0.5rem 1rem;
		font-size: 10px;
		line-height: 1.5;
		border-radius: 0;
	}

	.btn-mobile-nav {
		position: relative;
		background-color: #DEDEDE;
		transition: background-color 0s;
	}

	.btn-mobile-nav::after {
		content: " ";
		display: block;
		position: absolute;
		bottom: 0; left: 50%;
		width: 0%;
		border-bottom: 4px solid #343A40;
		transform: translate(-50%);
		transition: width 0s;
	}

	.btn-mobile-nav.active {
		background-color: #FFF;
		transition: background-color 300ms ease-in-out;
	}

	.btn-mobile-nav.active::after {
		width: 90%;
		transition: width 300ms ease-in-out;
	}

	.btn-mobile-nav:focus {
		-webkit-box-shadow: none !important;
		box-shadow: none !important;
	}
}

/* Bitbucket header icon */
.bitbucket-icon {
	display: inline-block;
	position: relative;
	
	background-image: url(../img/bitbucket.grey.png);
}

.bitbucket-icon::after {
	display: block;
	position: absolute;
	top: 0; left: 0;

	content: " ";
	background-image: url(../img/bitbucket.png);
	opacity: 0;

	transition: opacity 200ms linear;
}

.bitbucket-icon, .bitbucket-icon::after {
	width: 18px;
	height: 18px;
}

.bitbucket-icon:hover { text-decoration: none; }
.bitbucket-icon:hover::after { opacity: 1; }